
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.0.1">
    <title>Cover Template · Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/cover/">

    <!-- Bootstrap core CSS -->
    <link href="public/css/bootstrap.min.css" rel="stylesheet">

    <!-- Favicons -->
    <meta name="theme-color" content="#563d7c">

    <!-- Custom styles for this template -->
    <link href="public/css/cover.css" rel="stylesheet">
    <link rel="stylesheet" href="module/animate.css/animate.min.css"/>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .form-group label {
        color: black;
      }
    </style>

  </head>
  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Online Question</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="/"> Home </a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading animated-example"> << BRAND >>.</h1>
        <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
        <br>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary" id="game-button"> Mulai Bermain </a>
        </p>
      </main>

    <footer class="mastfoot mt-auto">
      <div class="inner">
      </div>
    </footer>
  </div>

  <div class="modal modal-dark fade in" tabindex="-1" role="dialog" id="modal-register">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content" style="margin-top:30%">
        <div class="modal-header" style="background:#d05555;">
          <h5 class="modal-title"> Ayo Bermain!! </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="background:#e49c9c;">
          <form action="/play" method="post" id="play-game">
            <div class="form-group">
              <label class="label-control col-md-12 text-left"> Nama </label>
              <div class="col-md-12">
                <input type="text" name="name" id="name" class="form-control">
              </div>
            </div>
        </div>
        <div class="modal-footer" style="background:#d05555;">
          <button type="submit" class="btn btn-primary start-game">Mulai Bermain</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
        </div>
        </form>
      </div>
    </div>
  </div>

  <!-- <script src="https://cdn.jsdelivr.net/npm/animejs@3.0.1/lib/anime.min.js"></script> -->
  <script src="module/animejs/lib/anime.min.js" charset="utf-8"></script>
  <script src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" charset="utf-8"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  <script>
    $(document).ready(function() {
      let gameButton = $('#game-button');

      // animate
      gameButton.addClass('animate__animated');
      gameButton.addClass('animate__bounce');

      $(document).on('mouseover' , '#game-button' , function() {
        var element = $(this);

        element.addClass('animate__animated');
        element.addClass('animate__bounce');
      });

      $(document).on('mouseout', '#game-button', function() {
        var element = $(this);

        element.removeClass('animate__animated');
        element.removeClass('animate__bounce');
      });
      //  end animate

      $(document).on('click', '#game-button', function() {
          $('#modal-register').modal();
      });
    });
  </script>
</body>
</html>
