<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Selamat Datang Di simple-question-game </title>
  </head>

  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link href="css/cover.css" rel="stylesheet">
  <link href="css/chat.css" rel="stylesheet">

  <style media="screen">

  </style>

  <body class="game-body">
    <section class="jumbotron header-app col-md-4" style="background-color:#94545b;height:100%;">
      <div class="container">

        <div class="col-md-12">
          <h3 class="lead"> Player </h3>
          <ul class="text-left" id="player-list">
            <!-- list player -->
          </ul>
        </div>

        <div class="col-md-12" style="margin-top:70%">
          <h5> Chating disini </h5>

          <div class="col-md-12 nopadding">
            <ul class="messages" id="list-message" style="overflow-y:scroll">

            </ul>
          </div>
          <br>

          <div class="col-md-12">
            <form id="send-message-form">
              <div class="input-group">
                <input type="text" class="form-control" id="text" placeholder="Chat..." aria-label="Username" aria-describedby="basic-addon1">
                <div class="input-group-prepend">
                  <button class="btn btn-success" type="submit" name="button"> Kirim </button>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </section>

    <section class="jumbotron header-app text-center col-md-8" style="background-color:#333;height:100%;">
      <div class="container">

        <div class="row col-md-12">
          <div class="col-md-12">
            <h4> 00:00 </h4>
            <br><hr>
          </div>

          <div class="col-md-12">
            <h4> Pertanyaan </h4>
            <div class="col-md-12 text-center" style="margin-top:20%">
              <h3>
                <i> <u>
                  Apakah nama latin indonesia ??
                </u> </i>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
    <script>
        var socket = io();
        var user = <%- JSON.stringify(user) %>

        socket.emit('join-game', user);
        socket.on('user-list', (data) => {
            $.each(data, (key, value) => {
              var playerCheck = $(`#${value.token}`).length;
              if (playerCheck == 0) {
                $('#player-list').append($(`<li id='${value.token}'>`).text(value.name));
              }
            });
        });

        socket.on('someone-disconnect', (data) => {
            $('#player-list').find(`#${data}`).remove();
        });

        socket.on('someone-send-text', (data) => {
            var getMessageTemplate = message(data);

            $('#list-message').append(getMessageTemplate);
        });

        $(document).on('submit', '#send-message-form', (event) => {
            event.preventDefault();
            var text = $('#text').val();
            if (text) {
              socket.emit('send-text', {
                name: user.name,
                text: text
              });
            }

            $('#text').val('');
        });

        function message(user) {
          return `
            <li class="message left appeared">
              <div class="avatar">
                <div class="player">
                  <p> ${user.name} </p>
                </div>
              </div>
              <div class="text_wrapper">
                <div class="text"> ${user.text} </div>
              </div>
            </li>`;
        }
    </script>
  </body>
</html>
