<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> ONLINE CERDAS-CERMAT </title>
  </head>

  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link href="css/cover.css" rel="stylesheet">
  <link href="css/chat.css" rel="stylesheet">

  <style media="screen">

  </style>

  <body class="game-body">
    <section class="jumbotron header-app col-md-4" style="background-color:#94545b;height:100%;">
      <div class="container">

        <div class="col-md-12">
          <h3 class="lead"> Player </h3>
          <ul class="text-left player-list" id="player-list" style="overflow-y:scroll;height:30%;">
            <!-- list player -->
          </ul>
        </div>

        <div class="col-md-12" style="margin-top:50%">
          <h5> Chating </h5>

          <div class="col-md-12 nopadding">
            <ul class="messages" id="list-message" style="overflow-y:scroll">

            </ul>
          </div>
          <br>

          <div class="col-md-12">
            <form id="send-message-form">
              <div class="input-group">
                <input type="text" class="form-control" id="text" placeholder="Chat..." aria-label="Username" aria-describedby="basic-addon1">
                <div class="input-group-prepend">
                  <button class="btn btn-success" type="submit" name="button"> Kirim </button>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </section>

    <section class="jumbotron header-app text-center col-md-8" style="background-color:#333;height:100%;" id="game-content">
      <div class="container">

        <div class="col-md-12">
          <h4> GAME TANYA JAWAB </h4>
        </div>

        <div class="col-md-12" id='game-ready-content'>
          <div class="col-md-12" id="game-ready-check" style="display:none">
            <div class="col-md-12" style="margin-top:30%">
              <div class="col-md-12">
                <p id="game-notice"> Game akan dimulai jika seluruh pemain ready </p>
              </div>
              <button type="button" class="btn btn-success" name="button" id="ready-state"> SIAP </button>
            </div>
          </div>

          <div class="col-md-12" id="question-time" style="display:none">

          </div>

          <div class="col-md-12" id="game-start" style="display:none">
            <!-- game container -->
          </div>

          <div class="col-md-12" id="game-score" style="margin-top:10px;display:none">
              <h3 style="color:blue" id="game-score-amount"> 0 </h3>
          </div>
        </div>
      </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
    <script>
        let user = <%- JSON.stringify(user) %>;
    </script>
    <script src="core/game.js" charset="utf-8"></script>
  </body>
</html>
