<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Selamat Datang di aplikasi chat </title>
  </head>

  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link href="css/cover.css" rel="stylesheet">

  <style media="screen">

  </style>

  <body class="game-body">
    <section class="jumbotron header-app text-center" style="background-color:#f3ebb7;">
      <div class="container">
        <h1>Selamat datang</h1>
        <p class="lead text-muted"> Ini adalah aplikasi menjawab pertanyaan bersama teman-teman </p>
        <p>
          <a href="#" class="btn btn-success my-2"> Mulai Bermain </a>
        </p>
      </div>
    </section>

    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h4> Test </h4>
        </div>

        <div class="col-md-4">
          <div class="panel__image panel__image--book">
          	<a href="#" class="books__book__image">
          		<div class="books__book__img">
          			<img src="https://d33wubrfki0l68.cloudfront.net/91ed41706514200a7ef212ebfeead7471354e622/01dcc/images/books/design-systems--large-opt.png">
          		</div>
          	</a>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
    <script>
      var socket = io();
    </script>
  </body>
</html>
