body {
  overflow: hidden;
}

.player-list li {
  padding: 5px;
}

.player-status {
  margin-left: 5px;
}

.game-question {
  color : #ffc16e;
}

.game-answer-unchecked {
  background: #425fa0;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 33.2rem;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px;
}

.game-answer-checked {
  background: #0d2454;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 33.2rem;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px;
}

.game-answer-unchecked:hover {
  background: #0d2454;
}
